/* Product Details Page Styles */

/* Product Details */

.PDMain {
  overflow: hidden;
  z-index: 1;
  justify-content: space-between;
}

.PDHeader {
  display: flex;
  margin-top: 4em;
  margin-bottom: 4em;
  flex-direction: row;
  justify-content: space-between;
}

.PDBrandingDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.PDCategoryPath {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  color: #000000;
}

.PDBrandingMain {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1rem;
  color: #000000;
}

.PDBrandingSub {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #000000;
  text-align: right;
}

.PDCategoryImgCard {
  position: relative;
  margin-inline: auto;
  width: 100%;
  text-align: center;
  height: auto;
}

.PDCategoryImg {
  width: 70%;
  height: auto;
}

.PDBestSellingTag {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 12.5%;
  min-width: 8%;
  height: auto;
  flex-direction: row;
  padding: 1%;
  float: right;
  position: absolute;
  right: 2.5rem;
  top: 2.25rem;
  border-radius: 2rem;
}

.PDBestSellingTagStar {
  margin-inline: auto;
  width: 10%;
  height: 10%;
}

.PDBestSellingTagText {
  margin-inline: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.75rem;
  color: #ffffff;
}

.PDCategoryImgZoomButton {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 3.5%;
  max-width: 4%;
  max-height: 6.7;
  height: 5.8%;
  aspect-ratio: 1;
  flex-direction: row;
  padding: 1%;
  float: right;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.PDCategoryImgZoomButtonImg {
  width: 70%;
  height: 70%;
}

/* Product Details Descriptions */

.PDDetailsView {
  margin-top: 6em;
  width: min(100% , 1000px);
  align-self: center;
  margin-inline: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.PDDetailsViewSec {
  width: 45%;
  height: auto;
}

.PDDetailsViewTer {
  width: 45%;
  height: auto;
}

.PDDetailsTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 120%;
  color: #000000;
  margin-bottom: 1em;
}

.PDDetailsDescriptionH {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6rem;
  color: #000000;
  margin-bottom: 2rem;
}

.PDDetailsDescripton {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 123.19%;
  letter-spacing: 0.015em;
  color: #000000;
  margin-bottom: 4rem;
}

.PDDetailsProductRatingView {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.PDDetailsProductRatingStars {
  margin-right: 10px;
  height: 15px;
  object-fit: contain;
}

.PDDetailsProductRatingReviews {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #000000;
}

.PDDetailBeltView {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.PDDetailsBeltImg {
  width: 45%;
  height: auto;
  margin-bottom: 2em;
}

.PDDetailsTerH {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #000000;
  margin-bottom: 2rem;
}

.PDDetailsTerDescription {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}
.PDisplaySpanDiv{
  width: 70%;
  margin-bottom: 2em;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  grid-auto-rows: 400px;
}
.PDisplaySpan{
  position: relative;
  background-color: #D9D9D9;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.PDisplaySpanImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 200ms ease;
}
.PDisplaySpan:hover .PDisplaySpanImg{
  transform: scale(1.02);
}
.PDisplayHeading{
  margin: 2em 0;
  font-size: 2em;
}
.PDisplaySpan_img{
  width: 100%;
  height: 100%;
}
.PDisplaySpanLikeImg{
  width: 20px;
  cursor: pointer;
}
.PDisplayRatingImg{
  height: 10px;
}
.PDisplayRatingText{
  font-size: .7em;
}
.PDisplayLikeView{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.PDisplayRatingView{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.PDisplaySpanTitleView{
  position: absolute;

  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  background-color: #D9D9D9;
  padding: 10px;
}
.PDisplaySpanTitle{
  line-height: 100%;
  margin-bottom: 10px;
}
/* Media Quries */


@media only screen and (max-width: 1000px) {
  .PDCategoryImg{
    width: 90%;
  }

}
@media only screen and (max-width: 800px) {
  .PDCategoryImg{
    width: 100%;
  }
  .PDDetailsView{
    margin-top: 3em;
    flex-direction: column;
  }
  .PDDetailsViewSec{
    width: 100%;
  }
  .PDDetailsViewTer{
    width: 100%;
  }
  .PDisplayHeading{
    font-size: 1em;
  }
  .PDisplaySpanDiv{
    width: 100%;
  }
  .PDisplaySpanDiv{
    grid-template-columns: 1fr;
  }
  .PDBrandingMain{
    font-size: .9rem;
  }
  .PDBrandingSub{
    font-size: .8rem;
  }
  .PDCategoryPath{
    font-size: .8em;
    width: 50%;
    word-wrap: break-word;
  }
  .PDDetailsTitle{
    font-size: 1.8em;
  }
  
}

