/* 1. How Its Made */

.HIMMainDiv {
  overflow: hidden;
  z-index: 3;
  justify-content: space-between;
}

.HIMHeadingDiv {
  margin: 5em 10px;
}

.HIMHeadingP {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 5rem;
  line-height: 88.5%;
  letter-spacing: -0.055em;
  color: black;
}

.HIMContentCollectionDiv {
  margin-inline-start: 2%;
  margin-inline-end: 2%;
  margin-bottom: 4rem;
}

.HIMContentDiv {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  margin: 1em 0;
}

.HIMContentDiv2 {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  justify-content: space-between;
  margin: 1em 0;
}

.HIMContentH {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 88.5%;
  letter-spacing: -0.055em;
  color: black;
  margin-bottom: 4rem;
}

.HIMContentH2 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 88.5%;
  letter-spacing: -0.055em;
  color: black;
  text-align: right;
  margin-bottom: 4rem;
}

.HIMContentH5 {
  margin-top: 10rem;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 88.5%;
  letter-spacing: -0.055em;
  color: black;
  text-align: right;
  margin-bottom: 4rem;
}

.HIMContentP {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 136.5%;
  letter-spacing: 0.02em;
}

.HIMContentP2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 136.5%;
  letter-spacing: 0.02em;
  text-align: right;
}

.HIMContentImgDiv {
  max-width: 45%;
}

.HIMContentImgDiv2 {
  max-width: 45%;
  margin-inline-end: 2rem;
  padding-right: 1rem;
}

.HIMContentImg {
  height: 100%;
  width: 100%;
}

.HIMContentImg2 {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  justify-self: last baseline;
}

/* Inventory Page Top */

.inventoryPage {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inventoryPageImageImg {
  height: 100vh;
  width: 100%;
  height: 100vh;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.668);
  max-height: 1000px;
  object-fit: cover;
}

.inventoryPageContentLogo {
  width: 65%;
}

.inventoryPageContentLogo {
  width: 55%;
}

.inventoryPageImage {
  height: 100%;
  width: 50%;
}

.inventoryPageContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invenPara {
  margin-top: 2em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  width: 80%;
}

.hTopInven {
  width: 100%;
  font-family: "poppins";
}

.hTopInven {
  font-size: 1.3em;
  line-height: 90%;
  text-align: right;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 2em 0;
}

.hTopInvenSpan {
  font-size: 0.9em;
  font-weight: 600;
}

.hExplore {
  font-size: 2.5em;
  font-weight: 500;
  margin: 2em 10px;
}

.CategoryImage {
  position: relative;
  margin: 50px 0;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}

.CategoryImageImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: all 500ms ease;
}

.CategoryImageH1 {
  position: absolute;
  color: white;
  bottom: 50px;
  right: 60px;
  font-weight: 500;
  font-size: 4.2em;
}

.CategoryImage:hover .CategoryImageImg {
  transform: scale(1.01);
}

.SACDiv {
  margin-inline-start: auto;
  margin-inline-end: 4rem;
  margin-top: 6rem;
}

.SendButton {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 24px;
  width: 120%;
  height: auto;
  font-size: 1rem;
  margin-inline-end: 1rem;
  transition-duration: 0.4s;
  white-space: nowrap;
}

.CallButton {
  background-color: white;
  border: 0.5px solid black;
  padding: 10px 24px;
  white-space: nowrap;
  width: 120%;
  color: black;
  height: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
}

.SendButton:hover .ButtonSpan {
  transform: scale(1.03);
  animation-direction: alternate-reverse;
  padding-right: 25px;
}

.SendButton .ButtonSpan {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.SendButton .ButtonSpan:after {
  content: ">";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.SendButton:after .ButtonSpan:after {
  opacity: 1;
  right: 0;
}

.CallButton:hover .ButtonSpan {
  transform: scale(1.03);
  animation-direction: alternate-reverse;
  padding-right: 25px;
}

.CallButton .ButtonSpan {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.CallButton .ButtonSpan:after {
  content: ">";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.CallButton:after .ButtonSpan:after {
  opacity: 1;
  right: 0;
}

/* .SendText {
  background-color: #000;
  color: #fff;
  height: 2.5rem;
  width: 9.5rem;
  text-align: center;
  margin-inline-end: 1%;
}

.CallText {
  background-color: #fff;
  color: #000;
  height: 41px;
  width: 9.5rem;
  text-align: center;
  margin-inline-start: 1%;
} */

@media only screen and (max-width: 800px) {
  .inventoryPage {
    flex-direction: column;
    height: auto;
    max-height: none;
  }
  .inventoryPageImage {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
  }
  .inventoryPageContent {
    width: 100%;
  }
  .invenPara {
    width: 90%;
  }
  .CategoryImageH1 {
    bottom: 10px;
    right: 10px;
    font-weight: 500;
    font-size: 2.2em;
  }
  .CategoryImage {
    margin: 8px 0;
  }
  .HIMContentImg {
    display: none;
  }
  .HIMContentImg2 {
    display: none;
  }
  .HIMHeadingP {
    font-size: 4em;
  }
  .HIMContentH {
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  .HIMContentH2 {
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  .HIMHeadingDiv {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .CategoryImageH1 {
    font-size: 1.5em;
  }
}

.CategoryImage:hover .CategoryImageImg {
  transform: scale(1.01);
}
