/* Liked Inventory Page Styles */

/* LikedInventory */

.LIMainDiv {
  overflow: hidden;
  z-index: 3;
  justify-content: space-between;
}

.LISecDiv {
  width: 100%;
  height: 100%;
}

.LIHeadingDiv {
  display: flex;
  margin-top: 4%;
  margin-bottom: 4%;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 10%;
}

.LIHeadingText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #000000;
}

.LIheadingBrandingDiv {
  justify-content: space-evenly;
}

.LIheadingBrandingMain {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #000000;
}

.LIheadingBrandingSub {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #000000;
  text-align: right;
}

.LIProductDiv {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}

/* ProductDiv */

.ProductDivMain {
  display: flex;
  background-color: #c6c6c6;
  width: 90%;
  height: 10%;
  padding-inline: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  flex-direction: row;
  margin-bottom: 2.5%;
}

.ProductDivImgMain {
  max-width: 20%;
  max-height: auto;
}

.ProductDivImg {
  width: 75%;
  height: auto;
  object-fit: contain;
}

.ProductDivContentMain {
  width: 60%;
  height: auto;
}

.ProductDivContentHeading {
  padding-top: 3%;
  padding-bottom: 2%;
  justify-content: space-between;
}

.ProductDivTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.42rem;
  line-height: 1.8rem;
  color: #000000;
}

.ProductDivSubtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.8rem;
  color: #000000;
}

.ProductDivContentDesc {
  width: 60%;
  height: auto;
  margin-bottom: 2%;
}

.ProductDivDesc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 123%;
  letter-spacing: 0.015em;
  color: #000000;
}

.ProductDivSelectMain {
  width: 20%;
  height: auto;
  text-align: right;
  margin-inline-end: 2%;
  padding-top: 1%;
  justify-content: space-between;
}

.ProductDivSelectText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: 0.015em;
  color: #000000;
}

.ProductDivSelectIcon {
  font-size: 1.5rem;
  font-weight: 100;
}

/* Send And Call Div */

.SACDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  height: auto;
  margin-bottom: 20%;
  margin-top: 2.5%;
  margin-inline-start: auto;
  margin-inline-end: 10%;
}

.SendDiv {
  background-color: #000000;
  width: 48%;
  border: 1px solid white;
}

.CallDiv {
  background-color: #ffffff;
  width: 48%;
  border: 1px solid black;
}

.SendText {
  color: whitesmoke;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
  padding-inline: 2%;
  padding-top: 3%;
  padding-bottom: 2%;
}

.CallText {
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  text-align: center;
  padding-inline: 2%;
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: 0.8rem;
}

/* More Products */

.PDisplayMainDiv {
  overflow: hidden;
  z-index: 3;
  justify-content: space-between;
}

.PDisplayHeadingDiv {
  margin-inline-start: 7.5%;
  margin-bottom: 3rem;
}

.PDisplayHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #000000;
}

.PDisplaySpanDiv {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-inline: auto;
  align-items: center;
  justify-content: space-evenly;
}

.PDisplaySpan {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
  background-color: #d9d9d9;
  margin-bottom: 4rem;
}

.PDisplaySpanImg {
  width: 100%;
  height: auto;
  margin-bottom: 0.875rem;
}

.PDisplayTitleDiv {
  padding-inline-start: 2%;
  padding-inline-start: 7.5%;
}

.PDisplaySpanTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
}

.PDisplaySpanSubtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
}

.PDisplaySpanTitleView {
  display: flex;
  justify-content: space-between;
  margin-inline-end: 5%;
  margin-bottom: 1rem;
}

.PDisplaySpanLikeText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.725rem;
  line-height: 1.125;
  color: #000000;
}

.PDisplayRatingImg {
  width: 20%;
  height: auto;
  margin-inline-end: 5%;
}

.PDisplayRatingView {
  display: flex;
  margin-inline-start: 10%;
  margin-inline-end: auto;
  margin-bottom: 1.5rem;
  flex-direction: row;
}

.PDisplayRatingText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 0.9rem;
}

@media (max-width: 480px) {
  .PDDisplaySpan {
    width: 100%;
  }
}
